:root {
	--color-background: #efefef;
	--color-text: #2d3038;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #2d3038;
		--color-text: #efefef;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	font-weight: normal;
}
